aside[class="account-view-component"] {
    height: 100vh;
    width: min(100%, 20em);
    border-radius: .2em;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 18.5px -2px #bdbdbd;
    -moz-box-shadow: 0 5px 18.5px -2px #bdbdbd;
    box-shadow: 0 5px 18.5px -2px #bdbdbd;
    position: fixed;
    right: 0em;
    top: 0em;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 5;
    overflow: hidden;
}
aside[class="account-view-component"] div {
    min-height: 85vh;
    width: min(85%, 85%);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
aside[class="account-view-component"] div :is(article[class="logo"]) > span {
    font-size: 3em;
    color: hsl(0, 0%, 20%)
}
aside[class="account-view-component"] div :is(article[class="account-description"]) {
    min-height: 100%;
    width: min(100%, 100%);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: .6em;
    /* border: 1px solid red; */
    flex-grow: 1;
    color: hsl(0, 0%, 20%);
    font-weight: calc(300 + 190);
}
aside[class="account-view-component"] div :is(article[class="account-description"]) img {
    height: 11em;
    width: 100%;
    border-radius: 0%;
    cursor: not-allowed;
    border: 1px solid #eee;
}
aside[class="account-view-component"] div :is(article[class="account-description"]) span {
   min-height: 3em;
   width: min(100%, 100%);
    font-size: .9em;
    /* border-bottom: 1px solid hsl(0, 0%, 80%); */
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}
aside[class="account-view-component"] div :is(article[class="account-description"]) aside {
   min-height: 7em;
   width: min(100%, 100%);
   font-size: .9em;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border: 1px solid hsl(0, 0%, 80%);
   border-radius: .3em;
}
aside[class="account-view-component"] div :is(article[class="account-description"]) aside :is(button) {
    height: 3em;
    width: min(90%, 90%);
    border-radius: .2em;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.account-view-button {
    font-size: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 10%);
    cursor: pointer;
}

.amount {
    font-weight: normal;
    font-size: .9em;
}

/* loader styles for spinner */
/*  */
.spinner {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background: radial-gradient(farthest-side,#000000 94%,#0000) top/9px 9px no-repeat,
          conic-gradient(#0000 30%,#000000);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
   animation: spinner-c7wet2 1s infinite linear;
  cursor: not-allowed;
 }
 
 @keyframes spinner-c7wet2 {
   100% {
      transform: rotate(1turn);
   }
 }
/*  */
.loader-component {
   min-height: 100vh;
   width: min(100%, 100%);
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba(0 ,0 ,0 ,.3);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   border: 1px solid rgba(255, 255, 255, 0.25);
   position: fixed;
   top: 0;
   left: 0;
   flex-direction: column;
   gap: 1.6em;
   font-size: .9em;
   z-index: 10;
}
.loader-component a {
   text-decoration-color: none;
   color: var(--primary-color);
   font-size: .9em;
}

/*  */
aside[class="advert-component"] {
   min-height: 17em;
   width: min(90%, 90%);
   background-color: hsl(216, 100%, 90%);
   border-radius: .5em;
   display: flex;
   align-items: center;
   justify-content: center;
}
aside[class="advert-component"] div {
   min-height: 13em;
   width: min(90%, 90%);
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   gap: .5em;
}
aside[class="advert-component"] div > h1 {
   font-size: 2.5em;
   font-weight: bold;
   color: hsl(0, 0%, 10%);
   max-width: fit-content;
}
aside[class="advert-component"] div > p {
   font-size: 1em;
   font-weight: normal;
   color: hsl(0, 0%, 10%);
   max-width: 40em;
}
aside[class="advert-component"] div > a {
   min-height: 2em;
   width: 10em;
}
aside[class="advert-component"] div > a :where(button) {
   min-height: 3em;
   width: min(100%, 15em);
   border-radius: .2em;
   border: none;
   background-color: #101010;
   color: #fff;
   cursor: pointer;
}

/*  */
section[class="subscription-page"] {
   min-height: 85vh;
   width: min(100%, 100%);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 1em;
   /* border: 1px solid red; */
}
section[class="subscription-page"] form {
   min-height: 60vh;
   width: min(90%, 60em);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 1em;
   border-radius: .5em;
   background-color: #fff;
   color: hsl(0, 0%, 20%);
   text-align: center;
   border: 1px solid hsl(0, 0%, 80%);
}
section[class="subscription-page"] form > h1 {
   font-size: 2.5em;
   font-weight: bold;
   /* color: hsl(0, 0%, 10%); */
   max-width: fit-content;
   line-height: .7em;
}
section[class="subscription-page"] form > h2 {
   font-size: 1.7em;
   font-weight: calc(300 + 220);
   /* color: hsl(0, 0%, 15%); */
}
section[class="subscription-page"] form > p {
   font-size: 1em;
   font-weight: normal;
   /* color: hsl(0, 0%, 10%); */
   max-width: 30em;
   text-align: center;
}
section[class="subscription-page"] form > input {
   height: 3em;
   width: min(90%, 60em);
   border: none;
   border-bottom: 1px solid hsl(0, 0%, 10%);
   background-color: transparent;
   outline-style: none;
}
section[class="subscription-page"] form > input::placeholder {
   color: #101010;
}
section[class="subscription-page"] form > button {
   height: 3.5em;
   width: min(100%, 20em);
   border: none;
   background-color: #101010;
   outline-style: none;
   border-radius: 20em;
   color: #fff;
   cursor: pointer;
}
section[class="subscription-page"] form > button:is(:hover, :focus) {
   box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

/*  */
aside[class="welcome-cookie-alert-message-component"] {
   min-height: 15em;
   width: min(100%, 100%);
   box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
   display: flex;
   align-items: center;
   /* border: 1px solid red; */
   justify-content: center;
   background-color: #fff;
   position: fixed;
   bottom: 0px;
   left: 0px;
   z-index: 2;
}
aside[class="welcome-cookie-alert-message-component"] > div {
   min-height: 10em;
   width: min(90%, 90%);
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   /* border: 1px solid red; */
   gap: .3em
}
aside[class="welcome-cookie-alert-message-component"] > div h1 {
   font-weight: normal;
   font-size: 1.3em;
   color: hsl(0, 0%, 20%);
}
aside[class="welcome-cookie-alert-message-component"] > div p {
   font-weight: normal;
   font-size: .9em;
   color: hsl(0, 0%, 20%);
   max-width: 40em;
}
aside[class="welcome-cookie-alert-message-component"] > div article {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 1em;
   width: min(100%, 100%);
}
aside[class="welcome-cookie-alert-message-component"] > div article :where(button) {
   height: 3em;
   width: min(100%, 9em);
   border: none;
   background-color: var(--primary-color);
   border-radius: .3em;
   color: #fff;
   cursor: pointer;
}